export(geoess_curvature)
export(geoess_directional)
export(geoess_eigen)
export(geoess_field)
export(geoess_trace)
export(geoess_dir)
export(geoess_eig)
export(geoess_spectrum)
export(geoess_ess)
export(geoess_godambe)
export(schur_theta_given_phi)
export(geoess_conditional)
export(geoess_conditional_local)
export(geoess_conditional_global)
export(geoess_Ipi_hier)
export(geoess_Ipi_hier_from_fn)
export(geoess_Ipi_hier_from_mix)
export(geoess_ref_hier)
export(geoess_ess_hier)
export(geoess_hier_from_stan)
export(geoess_unit_info_theta)
export(geoess_unit_info_phi)
export(geoess_block_trace)
export(geoess_block_spectrum)
export(geoess_level_local)
export(geoess_level_global)
export(geoess_hier_level)
export(geoess_hier_level_from_stan)
export(geoess_hier)
export(geoess_hier_global)
export(I1_normal_mu)
export(Ipi_normal_mu)
export(geoess_normal_mu)
export(demo_normal_mu)
export(predictive_ess_template)
export(predictive_ess_normal_mu)
export(predictive_ess_discrete)
export(geoess_draws)
export(geoess_loglik_draws)
export(geoess_theta_ref)
export(geoess_from_stan)
export(geoess_mixfit)
export(geoess_automixfit)
export(geoess_Ipi_from_mix)
export(geoess_local_mixture)
export(geoess_I1_hessian)
export(geoess_I1_score)
export(geoess_mix_logdens)
export(geoess_mix_gradlog)
export(geoess_mix_hesslog)
export(geoess_plot_draws_1d)
export(geoess_plot_draws_2d)
export(geoess_plot_mix_1d)
export(geoess_plot_mix_2d)
export(geoess_global)
export(geoess_global_prior)
export(geoess_global_posterior)
export(geoess_global_predictive)
export(geoess_global_design)
export(geoess_logistic)
export(geoess_beta_binomial_canonical)
export(mixbeta)
export(Ipi_beta)
export(dmix)
export(pmix)
export(qmix)
export(rmix)
export(geoess_mixfit_beta)
export(geoess_automixfit_beta)
S3method(dmix,betaMix)
S3method(pmix,betaMix)
S3method(qmix,betaMix)
S3method(rmix,betaMix)
S3method(print,betaMix)
S3method(print,geoess_local_mixture_result)
S3method(print,geoess_global_result)
S3method(summary,geoess_global_result)
